<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<Sd19Db>
	<Configs>
		<Config Name="NIST_Special_Database_19">C:\Users\tim\Documents\nist-special-database-19\out\build\x64-release</Config>
		<Config Name="Sqlite3_SourceDb">:memory:</Config>
		<Config Name="Sqlite3_DumpFilename">sd19.db3</Config>
		<Config Name="Hsf_Page_Enable">yes</Config>
		<Config Name="Mis_Enable">yes</Config>
		<Config Name="Delete_Existing_Db">yes</Config>
		<Config Name="Number_Threads">0</Config>
	</Configs>
</Sd19Db>