<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<Sd19>
	<Configs>
		<Config Name="NIST_Special_Database_19">C:\Users\tim\Documents\nist-special-database-19\out\build\x64-release</Config>
		<Config Name="Sqlite3_SourceDb">:memory:</Config>
		<Config Name="Sqlite3_DumpFilename">sd19.db3</Config>
		<Config Name="Delete_Existing_Db">yes</Config>
		<Config Name="Hsf_Page_Enable">yes</Config>
		<Config Name="Mis_Enable">yes</Config>
		<Config Name="Number_Threads">8</Config>
		<Config Name="Scale_MIS">true</Config>
	</Configs>
	<FannNeuralNetConfig>
		<Config Name="Train_Test_Split_Percent">80</Config>
		<Config Name="Maximum_Dataset_Size">60000</Config>
		<Config Name="Action_Function_Hidden">FANN_SIGMOID</Config>
		<Config Name="Action_Function_Output">FANN_SIGMOID</Config>
		<Config Name="Training_Algorithm">FANN_TRAIN_BATCH</Config>
		<Config Name="Training_Learning_Momentum">0.9</Config>
		<Config Name="Training_Learning_Rate">1.3</Config>
		<Config Name="Number_Inputs">1024</Config>
		<Config Name="Number_Outputs">62</Config>
		<Config Name="Number_Layers">5</Config>
		<Config Name="Number_Hidden">1024</Config>
		<Config Name="Desired_Error">0.001</Config>
		<Config Name="Max_Epochs">500</Config>
		<Config Name="Epochs_Between_Report">1</Config>
	</FannNeuralNetConfig>
</Sd19>
